@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

.wrap-header {
  background-color: #1c2431;
}
.wrap-header .header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7rem;
}
.wrap-header .header-navbar {
  display: flex;
  gap: 4.2rem;
}
.wrap-header .header-navbar-link {
  position: relative;
  font-family: "Raleway", sans-serif;
}
.wrap-header .header-navbar-link::after {
  position: absolute;
  top: -0.3rem;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-bottom: 1px solid white;
  transform: translateY(1rem) scale(0);
  transition: transform 0.4s;
}
.wrap-header .header-navbar-link:hover::after {
  transform: translateY(0) scale(1);
}

.wrap-hero {
  background-color: #1c2431;
  background-image: url(/images/bg-curvy-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.wrap-hero .hero {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.wrap-hero .hero-image {
  margin-bottom: 4.2rem;
}
.wrap-hero .hero h1 {
  margin-bottom: 3rem;
  font-size: 3.8rem;
  line-height: 1.4;
}
@media (max-width: 1000px) {
  .wrap-hero .hero h1 {
    color: gold;
  }
}
.wrap-hero .hero p {
  width: 80%;
  margin: 0 auto 2.8rem auto;
  font-size: 1.8rem;
}
.wrap-hero .hero .btn {
  margin-bottom: 21rem;
  display: inline-block;
  padding: 1.4rem 8.4rem;
  position: relative;
  border-radius: 3.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  z-index: 10;
}
.wrap-hero .hero .btn::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 3.6rem;
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  z-index: -20;
}
.wrap-hero .hero .btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 3.6rem;
  background-image: linear-gradient(to left, #65e2d9, #339ecc);
  opacity: 0;
  z-index: -10;
  transition: 0.2s;
}
.wrap-hero .hero .btn:hover::after {
  opacity: 1;
}

.wrap-pros {
  background-color: #181f2a;
}
.wrap-pros .pros {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 14rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 12rem;
  text-align: center;
}
.wrap-pros .pros-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap-pros .pros-article-icon {
  margin-bottom: 2rem;
  width: 6rem;
}
.wrap-pros .pros-article h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.wrap-pros .pros-article:nth-of-type(2) .pros-article-icon {
  width: 5rem;
}
.wrap-pros .pros-article:nth-of-type(3) .pros-article-icon {
  width: 7rem;
}

.wrap-productive {
  background-color: #181f2a;
}
.wrap-productive .productive {
  max-width: 1340px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 6rem;
  padding: 7rem 7rem 21rem 7rem;
}
.wrap-productive .productive-image {
  flex-basis: 50%;
}
.wrap-productive .productive-text {
  flex-basis: 50%;
}
.wrap-productive .productive-text h2 {
  width: 80%;
  margin-bottom: 3rem;
  font-size: 3.8rem;
  line-height: 1.4;
}
.wrap-productive .productive-text p {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
.wrap-productive .productive-text-link {
  border-bottom: 1px solid #65e2d9;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  color: #65e2d9;
  font-size: 1.6rem;
  transition: 0.2s;
}
.wrap-productive .productive-text-link:hover {
  border-color: white;
  color: white;
}
.wrap-productive .productive-text-link circle {
  r: 0.8rem;
}
.wrap-productive .productive-text-link .arrow {
  transition: 0.2s;
}
.wrap-productive .productive-text-link:hover .arrow {
  fill: white;
}
.wrap-productive .productive-text-link img {
  width: 2rem;
}

.wrap-review {
  background-color: #181f2a;
}
.wrap-review .review {
  max-width: 1340px;
  margin: 0 auto;
  background-image: url(/images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: 6rem 3rem;
  display: flex;
  gap: 4rem;
  padding: 7rem 7rem 14rem 7rem;
}
.wrap-review .review-card {
  background-color: #202a3c;
  padding: 4.8rem 3.2rem 3.2rem 3.2rem;
}
.wrap-review .review-card-text {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
}
.wrap-review .review-card-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wrap-review .review-card-footer .thumbnail {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}
.wrap-review .review-card-footer h5 {
  font-size: 1.4rem;
}
.wrap-review .review-card-footer p {
  font-size: 1.2rem;
}

.wrap-action {
  background-color: #181f2a;
}
.wrap-action .action {
  transform: translateY(100px);
  width: 900px;
  margin: 0 auto;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #1c2431;
  padding: 4rem;
  text-align: center;
}
.wrap-action .action h3 {
  margin-bottom: 2rem;
  font-size: 3.4rem;
}
.wrap-action .action p {
  width: 80%;
  margin: 0 auto 4rem auto;
}
.wrap-action .action-form {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.wrap-action .action-form [type=email] {
  width: 60%;
  border: none;
  border-radius: 3.6rem;
  padding: 1.4rem 2rem;
  font-size: 1.6rem;
}
.wrap-action .action-form [type=email]:focus {
  outline: none;
  box-shadow: 0 0 4px 4px #65e2d9;
}
.wrap-action .action-form .btn {
  border: none;
  padding: 1.4rem 3rem;
  color: white;
  cursor: pointer;
  position: relative;
  border-radius: 3.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  z-index: 10;
}
.wrap-action .action-form .btn::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 3.6rem;
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  z-index: -20;
}
.wrap-action .action-form .btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 3.6rem;
  background-image: linear-gradient(to left, #65e2d9, #339ecc);
  opacity: 0;
  z-index: -10;
  transition: 0.2s;
}
.wrap-action .action-form .btn:hover::after {
  opacity: 1;
}
.wrap-action .action-form .btn:focus {
  outline: none;
  box-shadow: 0 0 4px 4px #65e2d9;
}

.wrap-footer {
  background-color: #0b1523;
}
.wrap-footer .footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 21rem 7rem 1.1rem 7rem;
  font-size: 1.6rem;
}
.wrap-footer .footer-logo {
  width: 20rem;
  margin-bottom: 5rem;
}
.wrap-footer .footer-mid {
  margin-bottom: 6rem;
  display: flex;
  gap: 9rem;
}
.wrap-footer .footer-mid-contacts {
  flex-basis: 64%;
  display: flex;
  gap: 8rem;
}
.wrap-footer .footer-mid-contacts-location {
  flex-basis: 55%;
  display: flex;
  gap: 3rem;
}
.wrap-footer .footer-mid-contacts-location .icon {
  width: 3rem;
}
.wrap-footer .footer-mid-contacts .link-up {
  margin-bottom: 2rem;
  display: flex;
  gap: 3rem;
}
.wrap-footer .footer-mid-contacts .link-up .icon {
  width: 1.8rem;
}
.wrap-footer .footer-mid-links {
  flex-basis: 25%;
  display: flex;
  gap: 9rem;
}
.wrap-footer .footer-mid-links-left, .wrap-footer .footer-mid-links-right {
  display: flex;
  flex-direction: column;
}
.wrap-footer .footer-mid-links-left a, .wrap-footer .footer-mid-links-right a {
  margin-bottom: 2rem;
  transition: 0.2s;
}
.wrap-footer .footer-mid-links-left a:hover, .wrap-footer .footer-mid-links-right a:hover {
  color: #65e2d9;
}
.wrap-footer .footer-mid-social {
  flex-basis: 11%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.wrap-footer .footer-mid-social a {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  border: 1px solid white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.wrap-footer .footer-mid-social a:hover {
  border-color: #65e2d9;
  color: #65e2d9;
}
.wrap-footer .footer .attribution {
  font-size: 1.1rem;
  text-align: center;
}
.wrap-footer .footer .attribution a {
  color: #65e2d9;
  transition: 0.2s;
}
.wrap-footer .footer .attribution a:hover {
  color: #339ecc;
}

/*# sourceMappingURL=main.css.map */
